
/* Container setting up Flexbox */
.container {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content:center;
    height: 100vh;
    width: 100%;
}

/* Child elements */
.header, .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.header {
    background: navy;
    color: white;
    justify-content: space-between;
    height: 50px;
    width: auto;

}

.content {
    background: lightgray;
    flex: 2; /* Larger flex-grow factor for content */
}
